@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.header {
	width: 100%;
	background-color: #00a651;
	height: 80px;
	position:relative;
}

#welcome {
	position: absolute;
	color:white;
	font-weight: 600;
	font-family: 'Open Sans';
	margin-left: 50px;
	margin-top: 20px;
}

nav {
	right: 40px;
	margin-top: 30px;
	position: absolute;
}

nav ul {
	color: white;
	text-align: right;
	margin-right: 10px;
	margin-top: 5px;
}

nav li a {
  text-decoration:none;
  font-weight: 700;
}

nav li{
  margin-left: 30px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
  font-weight: 500;
  font-family: 'Open Sans';

}

nav a, nav a:visited, nav a:hover, nav a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
	transition:0.5s color ease;
	text-decoration:none;
	color:white;

}
nav a:hover{
	color:yellow;
}

.page {
	color: #0b9559;
	text-transform: uppercase;
}

textarea {
    resize: none;
	height: 15%;
}

.embed {
  width: 100%;
  height: 600px;
  overflow: auto;
}
::-webkit-scrollbar-thumb {
  background: #0b9559;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}



footer {
	background-color: #2E3639;
	position: relative;
	z-index: 1;
}

footer .splitter {
	background-color: #0b9559;
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
		color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
		color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
		to(transparent));
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
		transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
		transparent 75%, transparent);
	background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
		transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
		transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
		transparent 75%, transparent);
	-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	background-size: 50px 50px;
	-moz-box-shadow: 1px 1px 8px gray;
	-webkit-box-shadow: 1px 1px 8px gray;
	box-shadow: 1px 1px 8px gray;
	height: 20px;
}

footer > ul {
	list-style: none outside none;
	margin: 0 auto;
	max-width: 1200px;
	overflow: hidden;
	padding: 25px 0;
	position: relative;
	width: 95%;
}

footer > ul li {
	float: left;
	padding: 20px 15px;
	width: 33.3%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

footer > ul li:first-child {
	padding-left: 0;
}

footer > ul li:nth-child(3) {
	padding-right: 0;
}

footer > ul li .icon {
	color: #999999;
	float: left;
	font-size: 80px;
	line-height: 80px;
}

footer > ul li .text {
	color: #848889;
	font-size: 13px;
	line-height: 20px;
	margin-left: 105px;
	position: relative;
	text-align: justify;
}

.text h4 {
	color: #FFFFFF;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.text a {
	border-bottom: 1px dotted transparent;
	color: #FFDD00;
	font-weight: bold;
}
.text a:hover {
	border-color: #FFDD00;
}

footer .bar {
	background-color: #1E2629;
	padding: 20px 0;
}

footer .bar-wrap {
	font-size: 12px;
	margin: 0 auto;
	max-width: 1200px;
	position: relative;
	width: 95%;
}

.links {
	float: left;
	list-style: none outside none;
	position: relative;
}

.li-blocks {
	display: block;
}

.links li {
	float: left;
	margin-right: 10px;
}

.links a {
	color: #778888;
}

.links a:hover {
	color: #FFFFFF;
}

.social {
	position: absolute;
	right: 0;
	top: 0;
}

.social a {
	color: #778888;
	margin-left: 20px;
}

.social a:hover {
	color: #FFFFFF;
}

.social .icon {
	display: inline-block;
	font-size: 36px;
	margin-right: 5px;
	vertical-align: middle;
	-webkit-transition: -webkit-transform .3s linear;
	-moz-transition: -moz-transform .3s linear;
	-ms-transition: -ms-transform .3s linear;
	-o-transition:  -o-transform .3s linear;
	transition: transform .3s linear;
}

.social a:hover  .icon {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}

.social .info {
	display: inline-block;
	vertical-align: middle;
}

.social .info .follow {
	display: block;
}

.social .info .num {
	display: block;
}

.copyright {
	color: #778888;
	margin-top: 5px;
}

@media screen and (max-width: 1000px){
	.links, .social, .copyright{
		float:none;
		text-align:center;
	}
	.social {
		position:relative;
		margin:10px 0;
	}
	.links li {
		display:inline-block;
		float:none;
	}
	.bar {
		position:relative;
	}
	.bar-wrap {
		margin-bottom:0;
	}
}

@media screen and (max-width: 835px)  {
	footer > ul li {
		float:none;
		width:auto;
	}
}

@media screen and (max-width: 768px)  {
	.links li {
		margin-right:5px;
	}
}

@font-face {
	font-family: 'zocial', sans-serif;
}

[data-icon]:before {
	font-family: 'zocial';
	content: attr(data-icon);
	-webkit-font-smoothing: antialiased;
}

footer * {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

footer  td {
	color:#848889;
}

body, html {
	height: 100%;
}

.container {
	min-height: 34em;
	margin-top: 2%;
	width: 95%;
	margin-right: 3%;
	margin-left: 3%;
	text-align: center;
}

/* Таблици
----------------------------------------------*/
table{
	width: 100%;
	table-layout: fixed;
	margin-top: 20px;
}
.tg  {
	border-collapse:collapse;
	border-spacing:0;
	border-color:#bbb;
}
.tg td{
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:10px 5px;
	overflow:hidden;
	word-break:normal;
	color:white;
	background-color:#E0FFEB;
	height: 3em;
	text-align: center;
	vertical-align: middle;
}
.tg  img{
	height:16px;
	width: 16px;
}
.tg th{
	font-family:Open sans, sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:10px 5px;
	overflow:hidden;
	word-break:normal;
	color:#0b9559;
	background-color:#9DE0AD;
	text-align: center;
	vertical-align: middle;
}

td input{
	color:black;
}

td input:focus{
	color:black;
	box-shadow: 0px 0px 5px #fff;
}

.tg .tg-mvlx{
	background-color:#1eb98f;
	vertical-align:top;
}
.tg .tg-3we0{
	background-color:#ffffff;
	vertical-align:top;
	text-transform: uppercase;
}
.tg .tg-dfop{
	background-color:#00a651;
	vertical-align:top
}
@media screen and (max-width: 767px) {
	.tg {
		width: auto !important;
	}
	.tg col {
		width: auto !important;
	}
	.tg-wrap {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
}

hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

/* Dropdowns
----------------------------------------------*/

#dropdown-container{
    font-family: Palatino Linotype;
	width:40%;
	text-align: center;
	margin:0 auto;
}
#dropdown{
    padding:5px;
    cursor:pointer;
    font-size: 15px;
    border: 1px solid rgb(169, 169, 169);
    -moz-appearance: none;
	background-color: #1eb98f;
	color:white;
}
.down-arrow-icon{    
    padding-left: 5px;
	float: right;
}
#dropdown-list{
    display:none;
    width: 40%; 
    padding:0px;
    margin:0px;
	z-index: 9999;
	position:absolute;
	color: white;
}
#dropdown-container:hover ul#dropdown-list{
    display:block;
	z-index: 9999;
}
#dropdown-container > ul{
    padding:0px;
    list-style: none;
	z-index: 9999;
	position:absolute;
	background-color: #1eb98f;
	color: white;
	width:37.3%;
}
#dropdown-container ul li{
    width: 100%;
	color: white;
	height: 2.2em;
}
#dropdown-container ul li:hover{
    background-color: #00a651;
    cursor:pointer;
	color: white;
}

#dropdown-container ul li:hover input[type="submit"]{
    background-color: #00a651;
    cursor:pointer;
	color: white;
}

#dropdown-container ul li a{  
    padding-left: 10px;
    text-decoration:none;
    color: black;
	z-index: 9999;
	color: white;
}

/* FORMS
-----------------------------*/
	 
input[type="submit"]
{
	-webkit-appearance: none;
	appearance: none;
	border:none;
	background-color: #1eb98f;
	width: 100%;
	height: 100%;
}

input[type="submit"]:focus
{
	-webkit-appearance: none;
	appearance: none;
	border:none;
	background-color: #1eb98f;
	width: 100%;
	height: 100%;
}


input[type="submit"]:hover
{
	background-color: #00a651;
}

form{
	margin: 0px 0px 0px;
}

/* Pagination
----------------------------------*/

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

/* Student edit
----------------------------------*/
